.header {
    padding: 20px; 
    text-align: center;
    background: #1abc9c; 
    color: white; 
  }
  

  .header h1 {
    font-size: 40px;
  }

.navbar {
    overflow: hidden; 
    background-color: #333;
  }
  

  .navbar a {
    float: left;
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none;
  }
  

  .navbar a.right {
    float: right; 
  }
  

  .navbar a:hover {
    background-color: #ddd; 
    color: black;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .left-side, .right-side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
    text-align: center;
  }
  
  /* Main column */
  .main {
    flex: 40%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }

  /* Let zodiak buttons each have their own line */
  #zodiac-btns input {
    display: block;
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .message-board {
    padding: 20px; 
    text-align: center;
    background: #1abc9c; 
    color: white; 
  }

  #horoscope-text, #quote-text {
    width: 100%;
  }

  .message, #display-msgs {
    width: 600px;
  }

  #horoscope-text, .message, #display-msgs, #quote-text {
    height: 150px;
    resize: none;
    overflow-y: auto;
    word-wrap: break-word;
  }

  #display-msgs {
    display: inline-block;
    text-align: center;
  }

  #horoscope-header-btns input {
    display: inline-block;
    border-bottom: none;
  }

  .date-btn:hover, .chosen-btn {
    background-color: black;
    color: white;
  }

  .submit {
    display: inline-block;
    text-align: center;
  }
